#d1{
    border: 1px solid black;
    width: 400px; 
    height: 220px;
    background-color: green;
    /* margin: 10px 20px; */
    /* margin-left: 20px; */
    /* padding: 10px; */
   position: relative;
   left: 300px;
   top: 100px;
}


#d2{
    border-radius: 50%;
    width: 120px; 
    height: 120px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 140px;
    
}
.c1{
    border: 1px solid black;
    width: 100px; 
    height: 100px;
    background-color: rgb(47, 134, 255);
    color: red;
}